<div id="friends">
	<div>
	<i class="fa fa-user"></i>  Brad
	</div>
	<div>
	<i class="fa fa-user"></i>  Adu
	</div>
	<div>
	<i class="fa fa-user"></i>  Dave
	</div>
	<div>
	<i class="fa fa-user"></i>  Grace Ann
	</div>
	<div>
	<i class="fa fa-user"></i>  Billy
	</div>
	<div>
	<i class="fa fa-user"></i>  Bob
	</div>
</div>