<div class="objects">
	<div>
	<i class="fa fa-camera-retro"></i> Photo
	</div>
	<div>
	<i class="fa fa-cube"></i> Object
	</div>
	<div>
	<i class="fa fa-car"></i> Vehicle
	</div>
	<div>
	<i class="fa fa-beer"></i> Drinks
	</div>
	<div>
	<i class="fa fa-globe"></i> Travel
	</div>
	<div>
	<i class="fa fa-university"></i> School
	</div>
</div>	