.bet-options {
	padding: 5%;
}

.the-bet { 
  width: 70%;
  height: 300px; 
  margin:5px; 
  padding: 1em; 
  background: white; 
} 

.bet-options  { float:left;  }
.the-bet { float:right; } 

.friends {
	overflow-x: hidden;
	overflow-y: hidden;
}