    <div id="sidebar">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
      <nav id="nav" class="navigation" role="navigation">
        <ul class="unstyled">
          <li class="active"><%= link_to '<i class="fa fa-home"></i><span>Home</span>'.html_safe, root_path, :method => 'get'%></li>
          <li class="active"><%= link_to '<i class="fa fa-sign-out"></i><span>Logout</span>'.html_safe, destroy_user_session_path, :method=>'delete' %></li>
        </ul>
      </nav><!-- /nav -->
    </div><!-- /sidebar -->
    <script>
      $(document).ready(function ($) {
        $("html,body").css("overflow","auto");
        
          // Sidebar Toggle
          
          $('.btn-navbar').click( function() {
            $('html').toggleClass('expanded');
          });
           
       });
    </script>